<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users page</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/users.css">


</head>
<body>
    <header class="main-header">
        <h1 class="h1-helloworld">
            User pages
        </h1>
    </header>

    <main class="list-users">
        <ul>
            <li>MingMing</li>
            <li>Tata</li>
            <li>MingTa</li>
        </ul>
    </main>

</body>
</html>