<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%=pageTitle%> </title>
</head>
<body>
    <header>

    </header>
    <main>
        <% if(users.length > 0) { %>
        <div>
            <h1>Users list</h1>
            <%for (let user of users) {%>
            <ul>
                <li><%= user.userName%></li>
            </ul>
            <% }%>
        </div>
        <% } else {%>
            <h1>No users!!!</h1>
        <% }%>
    </main>
</body>
</html>