body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

main {
    padding: 1rem;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #00695c;
    padding: 0 0.8rem ;
}

.main-header__nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.main-header__item-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-header__item a {
    text-decoration: none;
    color: white;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: #fff243;
}

.centered {
    text-align: center;
}

button {
    font: inherit;
    border: 1px solid #00695c;
    color: #00695c;
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #00695c;
    color: white;

}

.user-message {
    margin: auto;
    width: 90%;
    border: 1px solid rgb(24, 132, 255);
    padding: 0.5rem;
    border-radius: 3px;
    background: rgb(75, 183, 255);
    text-align: center;
}

.user-message--error {
    border-color: red;
    background: rgb(255, 156, 156);

}

.pagination {
    margin-top: 2rem;
    text-align: center;
}

.pagination a {
    text-decoration: none;
    color: #00695c;
    margin: 0 1rem;
    border: 1px solid #00695c;
    padding: 0.5rem;
}

.pagination a:hover ,
.pagination a:active {
    color: white;
    background: #00695c;

}